[submodule "rysh-cli-code"]
	path = rysh-cli-code
	url = https://github.com/rysh-ai/rysh-cli-code.git
[submodule "rysh-cli-shared"]
	path = rysh-cli-shared
	url = https://github.com/rysh-ai/rysh-cli-shared.git
[submodule "rysh-cli-app-code"]
	path = rysh-cli-app-code
	url = https://github.com/rysh-ai/rysh-cli-app-code.git
